body {
  font-family: arial, sans-serif;
  background-color:#f0f3f7;
  color: #333;
  margin: 0;
}
header {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 15px;
  text_align: center;
}


